# OS
.DS_Store
Thumbs.db

# IDEs and editors
/.idea
.idea
/.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependency directory
node_modules
node_modules/
.node_modules/
bower_components
jspm_packages/
